<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>178016124325-m2v89hsvda80nq0q9d0a7ut3gnmhd9q4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178016124325-m2v89hsvda80nq0q9d0a7ut3gnmhd9q4</string>
	<key>API_KEY</key>
	<string>AIzaSyDsE9WGlUWv8d7zWqY7_Vx1q_2d4tG_v7U</string>
	<key>GCM_SENDER_ID</key>
	<string>178016124325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fouren.agroSpmManager</string>
	<key>PROJECT_ID</key>
	<string>agrodoctor-358507</string>
	<key>STORAGE_BUCKET</key>
	<string>agrodoctor-358507.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178016124325:ios:7574183e6aa35233453c4c</string>
</dict>
</plist>